<div id="skills" class="space-y-2 p-3 md:p-0">
	<h2 class="text-2xl font-semibold">Skills</h2>
	<div class="shadow rounded p-4 border border-gray-400">
		<h3 class="text-xl font-semibold">Programming Languages</h3>
		<div class="flex flex-wrap gap-1 py-2">
			<p class="badge p-4 border border-gray-400">Java</p>
			<p class="badge p-4 border border-gray-400">Go</p>
			<p class="badge p-4 border border-gray-400">
				Javascript
			</p>
			<p class="badge p-4 border border-gray-400">Dart</p>
			<p class="badge p-4 border border-gray-400">C</p>
			<p class="badge p-4 border border-gray-400">Bash</p>
		</div>
	</div>

	<div class="shadow rounded p-4 border border-gray-400">
		<h3 class="text-xl font-semibold">Backend Development</h3>
		<div class="flex flex-wrap gap-1 py-1">
			<p class="badge p-4 border border-gray-400">
				Spring Boot
			</p>
			<p class="badge p-4 border border-gray-400">Quarkus</p>
			<p class="badge p-4 border border-gray-400">REST API</p>
			<p class="badge p-4 border border-gray-400">Docker</p>
		</div>
	</div>

	<div class="shadow rounded p-4 border border-gray-400">
		<h3 class="text-xl font-semibold">Frontend Development</h3>
		<div class="flex flex-wrap gap-1 py-1">
			<p class="badge p-4 border border-gray-400">Vue</p>
			<p class="badge p-4 border border-gray-400">Flutter</p>
			<p class="badge p-4 border border-gray-400">Tailwind</p>
		</div>
	</div>

	<div class="shadow rounded p-4 border border-gray-400">
		<h3 class="text-xl font-semibold">Testing</h3>
		<div class="flex flex-wrap gap-1 py-1">
			<p class="badge p-4 border border-gray-400">JUnit</p>
			<p class="badge p-4 border border-gray-400">Cucumber</p>
			<p class="badge p-4 border border-gray-400">
				Playwright
			</p>
			<p class="badge p-4 border border-gray-400">JMeter</p>
		</div>
	</div>

	<div class="shadow rounded p-4 border border-gray-400">
		<h3 class="text-xl font-semibold">Databases</h3>
		<div class="flex flex-wrap gap-1 py-1">
			<p class="badge p-4 border border-gray-400">
				PostgreSQL
			</p>
			<p class="badge p-4 border border-gray-400">H2</p>
			<p class="badge p-4 border border-gray-400">MSSQL</p>
			<p class="badge p-4 border border-gray-400">MongoDB</p>
			<p class="badge p-4 border border-gray-400">
				Hibernate ORM
			</p>
		</div>
	</div>

	<div class="shadow rounded p-4 border border-gray-400">
		<h3 class="text-xl font-semibold">Cloud and Devops</h3>
		<div class="flex flex-wrap gap-1 py-1">
			<p class="badge p-4 border border-gray-400">
				Github actions
			</p>
			<p class="badge p-4 border border-gray-400">CI/CD</p>
			<p class="badge p-4 border border-gray-400">AWS</p>
			<p class="badge p-4 border border-gray-400">
				Digital Ocean
			</p>
			<p class="badge p-4 border border-gray-400">MongoDB</p>
		</div>
	</div>

	<div class="shadow rounded p-4 border border-gray-400">
		<h3 class="text-xl font-semibold">Tools</h3>
		<div class="flex flex-wrap gap-1 py-1">
			<p class="badge p-4 border border-gray-400">Git</p>
			<p class="badge p-4 border border-gray-400">Maven</p>
			<p class="badge p-4 border border-gray-400">Gradle</p>
			<p class="badge p-4 border border-gray-400">Vite</p>
			<p class="badge p-4 border border-gray-400">Linux</p>
			<p class="badge p-4 border border-gray-400">Terminal</p>
		</div>
	</div>
</div>
