---
import { Github, Linkedin, Menu } from "@lucide/astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Randae Garcia Portfolio</title>
	</head>
	<body>
		<div
			class="flex flex-col h-screen lg:max-w-1/2 sm:space-y-4 sm:px-2 mx-auto justify-between"
		>
			<div class="navbar">
				<div class="navbar-start">
					<h2 class="font-semibold text-2xl">
						Randae G.
					</h2>
				</div>
				<div class="navbar-center"></div>
				<div class="navbar-end">
					<div class="hidden sm:flex">
						<a href="#skills">
							<button
								class="btn btn-ghost"
								>Skills</button
							></a
						>
						<a href="#experience">
							<button
								class="btn btn-ghost"
								>Experience</button
							></a
						>
						<a href="#education">
							<button
								class="btn btn-ghost"
								>Education</button
							></a
						>
					</div>

					<div
						class="dropdown dropdown-end sm:hidden"
					>
						<div
							tabindex="0"
							role="button"
							class="btn btn-ghost m-1"
						>
							<Menu />
						</div>
						<ul
							tabindex="0"
							class="dropdown-content menu bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm"
						>
							<li>
								<a
									href="#skills"
									>Skills</a
								>
							</li>
							<li>
								<a
									href="#experience"
									>Experience</a
								>
							</li>
							<li>
								<a
									href="#education"
									>Education</a
								>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<slot />
			<footer
				class="footer sm:footer-horizontal flex justify-end text-neutral-content items-center p-4"
			>
				<nav
					class="grid-flow-col gap-4 md:place-self-center md:justify-self-end"
				>
					<a
						href="https://github.com/RandaeGS"
						target="_blank"
					>
						<Github />
					</a>
					<a
						href="https://www.linkedin.com/in/randae-garc%C3%ADa-s%C3%A1nchez-9a9677283/?locale=en_US"
						target="_blank"
					>
						<Linkedin />
					</a>
				</nav>
			</footer>
		</div>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
